<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Translate API</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script src='https://www.google.com/recaptcha/api.js'></script>

</head> 
<!--translateApi.iniciar()-->
 <body onload="translateApi.iniciar()">
 	<header>
 		<div class="container">
 			<h3>Mashup Kass</h3>
 			
 		</div>
 	</header>
	
	<section class="main row">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="areaBusqueda">
			<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" class="">
				<input type="text" placeholder="Palabra a buscar" class="form-control" id="areaPintar">
				<input type="text"  id="cantidadVideos" placeholder="Cuantos videos desea ver?" class="form-control">
			</div>
			<div  class="g-recaptcha col-xs-12 col-sm-12 col-md-12 col-lg-12" data-sitekey="6LcMeEwUAAAAAIJ3BWfa63wgfvcINVqqJgk0kbPB">
				
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
				<input type="button" id="search" value="Buscar en Youtube" class="btn btn-danger">
				<input type="button" id="searchMaps" value="Ver en maps" class="btn btn-success">
			</div>
		</div>	

		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="areaVideos">
			<div class="container form-group" id="videos">	
				<ul class="flex-container form-control" id="videoYoutube">
			  
				</ul>
			</div>
			<div class="container form-group" id="btnsVideo">	
				<input type="button" value="Prev" id="btnPrev" class="btn btn-success">
				<input type="button" value="Next" id="btnNext" class="btn btn-success">
			</div>
		</div>
	</section>
	<section class="container">
		<div id="map" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
			
		</div>
	</section>	
	<script src="javascripts/jquery.js"></script>
	<script type="text/javascript" src="javascripts/main.js"></script>

	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4H32a9KA1YnrvOIvwlyi4RfJFLMTjLy4">
    </script>
    
	
	
	
    
	
	
</body>
</html>
