body{
	background-color: lightblue;
}
#map {
        height: 400px;
        width: 100%;
     }

@import "compass/css3";
header{
  background: #171616;
  color: #0C06FC;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
#videos,#videoYoutube{
  background-color: lightblue;
}

